*,
*::after, 
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10/16=62.5

  /*
    @include respond(media-sm)  {   //Mobile First, dh. Beginn mit der lowest width
      font-size: 65%;
    }

    @include respond(media-md)  { 
      font-size: 68.75%;            //11px; 11/16=68.75
    }

    @include respond(media-lg)  {
      font-size: 70%;
    }

    @include respond(media-xl)  { 
      //font-size: 72.5%;
    }

    @include respond(media-xxl)  {  // 12px; 12/16=75
      font-size: 75%;
    }
    */
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: var(--color-white);
}


//Images 

img {
  margin: 0;
  padding: 0; 
  width: inherit; 
  height: inherit; 
}


//Heading 

h1  {
  @include section-title-h1-m ();

  @include respond(media-xl)  {
    @include section-title-h1-d();
  }
}

h2  {
  @include section-title-h2-m();

  @include respond(media-xl)  {
    @include section-title-h2-d();
  }
}

h3  {
  @include section-title-h3-m();

  @include respond(media-xl)  {
    @include section-title-h3-d();
  }
}


//Text

p {
  line-height: $line-height-body;
  font-weight: 400;
  font-size: $font-size-body-text-m;

  @include respond (media-sm)  {
    font-size: 1.5rem;
  }

  @include respond (media-md)  {
    font-size: 1.6rem;
  }

  @include respond (media-lg)  {
    font-size: 1.7rem;
  }

  @include respond(media-xl)  {
    font-weight: $line-height-body;
    font-size: $font-size-body-text;
  }

  @include respond (media-xxl)  {
    font-size: 2.1rem;
  }
}


//Section-Container

.section {
  padding: $padding-mobile;
  height: auto;

  @include respond(media-sm)  {
    padding: $padding-small-device;
  }
  
  @include respond(media-md)  {
    padding: $padding-large-device;
  }

  @include respond(media-xl)  {
    padding: $padding-desktop;
  }

  @include respond(media-xxl) {
    padding: $padding-extralarge-device;
  }
}


//Spans
.umbruch  {
  display: block;
}


.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


//Links

li  {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: var(--color-white);

  &:hover   {
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:active   {
    
  }
}

.current-page {
  border-bottom: 2px solid var(--color-white);
}


.underline  {
  display: inline;
  position: relative;
  overflow: hidden;

  &:after {
    content: ""; //content ist leer
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -1px;
    background: var(--color-white);
    height: 1px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover:after,
  &:focus:after,
  &:active:after {
  right: 0;
}
}

//Navigation

.navitem_black  {
  color: var(--color-black);
}

.navitem_white  {
  color: var(--color-white);
}

//Skip-Link

#skip-link  {
  position: absolute;
  left: 0; 
  top: 0;
  transform: translate(-100%);
  transition: 0.2s transform;
  z-index: 5000;  
}

#skip-link:focus  {
  transform: translateY(0);
}



