*,
*::after, 
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10/16=62.5

  /*
    @include respond(media-sm)  {   //Mobile First, dh. Beginn mit der lowest width
      font-size: 65%;
    }

    @include respond(media-md)  { 
      font-size: 68.75%;            //11px; 11/16=68.75
    }

    @include respond(media-lg)  {
      font-size: 70%;
    }

    @include respond(media-xl)  { 
      //font-size: 72.5%;
    }

    @include respond(media-xxl)  {  // 12px; 12/16=75
      font-size: 75%;
    }
    */
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
}

/*
img {
  margin: 0;
  padding: 0; 
  width: inherit; 
  height: inherit; 
}
*/

p {
  line-height: 130%;
}


a {
  text-decoration: none;
  color: $color__link;
}

  a:link  {
    color: $color__link;
  }

  a:visited   {
    color: $color__link--visited;
  }

  a:hover   {
    color: $color__link--hover;
  }

  a:active   {
    color: $color__link--active;
  }

