<footer class="footer">
    
    <div class="footer__flexbox">
      <div class="footer__logo--container">
        <img src="../Images/Logo.png" alt="Logo" class="footer__logo" />
      </div>
      
      <h3 class="footer__heading">
        <span class="footer__heading--main">Rustica</span>
        <span class="footer__heading--sub">Café & Rösterei</span>
      </h3>
    </div>

    <div class="footer__flexbox2">

      <div class="footer__flexitem1">
        <p class="footer__content">
         Komm uns besuchen!<br>
         Fraunhoferstr. 13, Kiel
        </p>
      </div>

      <div class="footer__flexitem2">
        <p class="footer__content">
          <span class="umbruch">Mo - Fr 8 - 18 Uhr</span>
          <span class="umbruch">Sa 11-18 Uhr</span>
          </p>
      </div>
    </div>

      <div class="footer__flexitem3 footer__flexitem--order">
        <p class="footer__content">
          <a href="impressum.html" class="footer__link">Impressum</a>
          <a href="datenschutz.html" class="footer__link">Datenschutz</a>
        </p>
      </div>

      <div class="footer__flexitem2">
        <ul class="footer__content">
            <li><a href="cafe.html">Café</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="herkunft.html">Herkunft</a></li>
        </ul>
      </div>
    

  </footer>