<footer class="footer">
    
    <div class="footer__flexbox">
      <div class="footer__logo--container">
        <a href="../index.html" class="visually-hidden"> 
          <img src="../Images/Logo.png" alt="Logo" class="footer__logo" />
        </a>
      </div>
      
      <h3 class="footer__heading">
        <span class="footer__heading--main">Rustica</span>
        <span class="footer__heading--sub">Café & Rösterei</span>
      </h3>
    </div>

    <div class="footer__flexbox2">

      <div class="footer__flexitem1">
        <p class="footer__content">
         <span class="umbruch">Komm uns besuchen!</span>
         <span>Fraunhoferstr. 13, Kiel</span>
        </p>
      </div>

      <div class="footer__flexitem2">
        <p class="footer__content">
          <span class="umbruch">Mo - Fr 8 - 18 Uhr</span>
          <span>Sa 11-18 Uhr</span>
          </p>
      </div>
    </div>

      <nav class="footer__flexitem3 footer__flexitem--order" aria-labelledby="footer-menu">
        <ul class="footer__content" >
          <li><a href="impressum.html" title="Link zur Unterseite Impressum" alt="Impressum" class="footer__link">Impressum</a></li>
          <li><a href="datenschutz.html" title="Link zur Unterseite Datenschutz" alt="Datenschutz" class="footer__link">Datenschutz</a></li>
          <li><a href="kontakt.html" title="Link zur Unterseite Kontakt" alt="Kontakt" class="footer__link">Kontakt</a></li>
        </ul>
      </nav>

      <nav class="footer__flexitem2" aria-labelledby="footer-menu">
        <ul class="footer__content">
          <li><a href="cafe.html" title="Link zur Unterseite Das Cafe" alt="das Café" class="footer__link">Café</a></li>
          <li><a href="shop.html" titel="Link zum Shop" alt="zum Shop" class="footer__link">Shop</a></li>
          <li><a href="herkunft.html" title="Link zur Unterseite Herkunft" alt="Herkunft" class="footer__link">Herkunft</a></li>
        </ul>
    </nav>
  </footer>