
    <div class="main-navigation">
      <div>
          <div class="main__navigation-brand">
              <a href="../index.html" class="main-navigation__brand">
              <img src="../Images/Logo_black.svg" alt="Rustica - Café & Rösterei in Kiel">
            </a>
          </div>  
      </div>
      
      <nav class="main-navigation-box">
          <ul class="main-navigation__items" aria-label="Navigation">
              <li class="main-navigation__item">
                  <a href="cafe.html" class="navitem_black underline">das Café</a>
              </li>
              <li class="main-navigation__item">
                  <a href="shop.html" class="navitem_black underline">Shop</a>
              </li>
              <li class="main-navigation__item">
                  <a href="herkunft.html" class="navitem_black underline">Herkunft</a>
              </li>
          </ul>
      </nav>
    </div>

    <div class="mobile-navigation">

      <input type="radio" name="radio" id="navi-toggle">
      <input type="radio" name="radio" id="navi-toggle-close">
      <input type="radio" name="radio" id="background-black">

      <label for="navi-toggle">
      <span id="nav-closed" class="responsive-label" tabindex="0">
        <img src="../Images/Burger Menu_black.svg" alt="toggle-button-menu" class="navi-toggle-button">
      </span>
      </label>
      
      <label for="navi-toggle-close">
      <span id="nav-open" class="responsive-label" tabindex="0">
        <img src="../Images/Burger-Menu-close.svg" alt="toggle-button-close" class="navi-toggle-button" tabindex="0">
      </span> 
      </label>

      <label for="background-black">
        <div id="background-black"></div>
      </label>

      <nav class="mobile-navigation__items" aria-label="mobileNavigation">
        <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
                <a href="cafe.html" class="underline">das Café</a>
            </li>
            <li class="mobile-navigation__item">
                <a href="herkunft.html" class="underline">Herkunft</a>
            </li>
            <li class="mobile-navigation__item">
                <a href="shop.html" class="underline">Shop</a>
            </li>
        </ul>
      </nav>
  </div>


    