<div class="main-navigation">
    <div>
        <button class="nav-toggle-button">
            <img src="../Images/Burger Menu.svg" alt="toggle-button" class="header__sitebar--toggle-button">
        </button>

        <a href="../index.html" class="main-navigation__brand">
            <img src="../Images/Logo.png" alt="Rustica - Café & Rösterei in Kiel">
        </a>
    </div>
    
    <nav class="main-navigation-box">
        <ul class="main-navigation__items">
            <li class="main-navigation__item">
                <a href="cafe.html">das Café</a>
            </li>
            <li class="main-navigation__item">
                <a href="shop.html">Shop</a>
            </li>
            <li class="main-navigation__item">
                <a href="herkunft.html">Herkunft</a>
            </li>
        </ul>
    </nav>
  </div>