
.footer {
    background-color: var(--color-anthrazit);
    padding: $padding-mobile;
    height: 42rem;
    width: 100vw;
    color: var(--color-white);

    @include respond(media-sm)  {
      height: 42rem;
      padding: 0rem 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      padding: $padding-small-device;
    }

    @include respond(media-lg)  {
      height: 38rem;
      padding: $padding-large-device;
    }

    @include respond(media-xl)  {
      padding: $padding-desktop;
    }

    @include respond(media-xxl) {
      padding: 0rem 12.5rem;
      padding: $padding-extralarge-device;
    }

  }
  
.footer__flexbox {

  @include respond(media-sm)  {
    display: flex;
    flex-direction: column;
  }

  @include respond(media-lg)  {
    width: 20%;
    align-items: baseline;
  }

  @include respond(media-xl)  {
    width: 25%;
  }

  @include respond(media-xxl) {
  }
}

  .footer__logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 1.5rem;

    @include respond(media-sm)  {
      margin-top: 7rem;
      height: 4.5rem;
      width: 4.5rem;  
    }

    @include respond(media-md)  {
      margin-top: 7rem;
      height: 5.5rem;
      width: 5.5rem;  
    }

    @include respond(media-lg)  {
      margin-top: 7rem;
      height: 6rem;
      width: 6rem;  
    }

    @include respond(media-xl)  {
      margin-top: 12.5rem;
      height: 7rem;
      width: 7rem;  
    }

    @include respond(media-xxl) {
      height: 8rem;
      width: 8rem; 
    }
  }
  
  .footer__heading  {
  
    &--main {
      font-size: 2.4rem;
      font-weight: $font-weight-headings;

      @include respond(media-sm)  {
        font-size: 3.4rem;
      }

      @include respond(media-md)  {  
        font-size: 3.6rem;
      }

      @include respond(media-lg)  {
        font-size: 3.8rem;
      }

      @include respond(media-xl)  {
        font-size: 4.2rem;
      }

      @include respond(media-xxl) {
        font-size: 4.5rem;
      }
    }
  
    &--sub  {
      display: block;
      @include subhead ();
      line-height: 2.1; 
    }

  }


  .footer__flexbox2 {
    width: 100%;

    @include respond(media-sm)  {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    @include respond(media-sm)  {
      justify-content: space-between;
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {
      width: 25%;
      height: 10rem;
      flex-direction: column;
    }
    
    @include respond(media-xl)  {
      justify-content: space-around;
      align-items: baseline;
    }

    @include respond(media-xxl) {

    }

  }
    .footer__flexitem1 {
        display: inline-block;
        width: 155px;
        padding-right: 1.5rem;

        @include respond(media-sm)  {
          width: 200px;
        }

        @include respond(media-md)  {

        }

        @include respond(media-lg)  {

        }
        
        @include respond(media-xl)  {
        /*  width: 200px;*/
        }

        @include respond(media-xxl) {

        }

      }

  .footer__flexitem2 {
        display: inline-block;
        width: 155px;
        padding-right: 1.5rem;

        @include respond(media-sm)  {
        }

        @include respond(media-lg)  {
        }
      }

  .footer__flexitem3 {
        display: inline-block;
        width: 15.5rem;
        padding-right: 1.5rem;
      }


.footer__content {
    margin-top: 3.5rem;
    @include body-text-m ();
    line-height: 1.3;

    @include respond(media-sm)  {
      margin-top: 0;
    }
  }
 
.footer__link {
  text-decoration: none;
  color: var(--color-white);
  @include body-text-m();
  line-height: 1.8;
}

  .footer__flexitem--order  {
    order: +1;
  }


  