
.footer {
    background-color: var(--color-anthrazit);
    height: 390px;
    width: 375px;
    padding: $padding-mobile;
    color: var(--color-white);

    @include respond(media-xl)  {
      width: 100vw;
      height: 443px;
      padding: $padding-desktop;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  
.footer__flexbox {

  @include respond(media-xl)  {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: baseline;
  }
}

.footer__logo--container  {

  @include respond(media-xl)  {
    
  }
}
//Container ums Logo, der dann 100% width hat
  .footer__logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 1.5rem;

    @include respond(media-xl)  {
      margin-top: 125px;
      height: 7rem;
      width: 7rem;  
    }
  }
  
  .footer__heading  {
  
    &--main {
      font-size: 24px;
      font-weight: 900;

      @include respond(media-xl)  {
        font-size: 42px;
        
      }
    }
  
    &--sub  {
      display: block;
      font-size: 18px;
      font-weight: 400;
    }

  }

  .footer__heading--main  {

    @include respond(media-xl)  {
      font-weight: 42px;
    }
  }

  .footer__flexbox2 {
    width: 100%;

    @include respond(media-xl)  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      width: 25%;
    }

  }
      .footer__flexitem1 {
        display: inline-block;
        width: 155px;
        padding-right: 15px;

        
        @include respond(media-xl)  {
          width: 200px;
    }
      }

      .footer__flexitem2 {
        display: inline-block;
        width: 155px;
        padding-right: 15px;
      }

      .footer__flexitem3 {
        display: inline-block;
        width: 155px;
        padding-right: 15px;
      }


  .footer__content {
    margin-top: 35px;
    @include body-text-m ();
  
    &__text--span   {
      display: block;

      @include respond(media-xl)  {
        display: inline-block;
      }
    }
  }
 
.footer__link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}

  footer ul {
    list-style-type: none;
  
    a:link,
    a:visited {
    text-decoration: none;
    color: var(--color-white);
    }
  
    a:hover {
    color: var(--color-white);
    } 
  }

  .footer__flexitem--order  {
    order: +1;
  }

  