
/*
.grid-container {
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-around;  
}

.row    {
    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: $gutter-vertical; 

    &:not(:last-child)  {
        margin-bottom: $gutter-vertical;
    }

    .col-1-of-2 {
        width: calc((100% - $gutter-vertical) / 2);
        background-color: var(--color-anthrazit);
    }

    .col-2-of-2 {
        width: calc(2 * (100% - 2 * $gutter-vertical));
    }

}


.grid-container {
    padding: $padding-mobile;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 6rem;

    @include respond(media-xl)  {
        padding: $padding-desktop;
        margin-bottom:0;
    }
}

.main__grid--gallery    {
    margin: auto;
    width: 100vw;
    height: auto;
    display: grid;
    grid-gap: 1.5rem 1rem; //row, dann column
    grid-template-columns: repeat(2, [col-start] 50% [col-end]);
    grid-template-rows: repeat(4, auto);
    

    @include respond(media-xl)    {
        grid-template-columns: repeat(4, [col-start] 25% [col-end]);
        grid-template-rows: repeat(2, auto);
        height: 550px;
    }
}

.main__grid__gallery--frame-1    {
}

.main__grid__gallery--frame-2  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.main__grid__gallery--frame-3    {
}

.main__grid__gallery--frame-4    {
}

.main__grid__gallery--frame-5    {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3; 
    grid-row-end: span 2;
}

.main__grid__gallery--frame-6    {
}

.main__grid__gallery--frame-7    {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: span 2;
}

.main__grid__gallery--frame-8    {
}

.gallery-img-2    {
    
}




.grid__gallery  {
    padding: 0 2.5rem;

    @include respond(media-xl)  {
        padding: 0 10rem;
    }
}

.grid__gallery--row    {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    justify-content: space-between;
    //align-items: center;375
}

.grid__gallery--column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%; 
    max-width: 50%;
    padding: 0 0.5rem;

    @include respond(media-xl)  {
        flex-direction: row;
    }
}   

.grid__gallery-frame    {
   padding: 0.5rem 0.75rem;

   @include respond(media-xl)   {

   }
}

.grid__gallery-img    {
    width: 100%;
    height: auto;

    @include respond(media-xl)  {
        width: 25%;
    }
}

*/

.grid__gallery  {
    padding: $padding-mobile;
    display: flex;
    height: auto;
    max-width: 125rem;
    
    
    @include respond(media-sm)  {
        padding: $padding-small-device;
    }

    @include respond(media-md)  {
        height: 40rem;
    }    

    @include respond(media-lg)  {
        padding: $padding-large-device;
        height: 45rem;
    }

    @include respond(media-xl)  {
        margin-top: 12.5rem;
        width: 100%;
        height: 55rem;
        padding: $padding-desktop;
        margin: auto;
    }
}

.grid__gallery--row {
    display: flex;
}

.gallery__grid--column-one,
.gallery__grid--column-two {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;

     @include respond(media-md) {
        width: 50%;
        flex-direction: column;
     }
 }



.grid__gallery-frame    {
    width: 100%;
    padding: 0.75rem 0.75rem;
    display: flex;
    justify-content: space-between;

    @include respond(media-md) {
        width: 50%;
     }

     &-1    {
        width: 100%;
        padding: 0.75rem 0.75rem;
        display: flex;
        justify-content: space-between;
    
        @include respond(media-md) {
            width: 50%;
            order: +1;
         }
     }

     &-2    {
        width: 100%;
        padding: 0.75rem 0.75rem;
        display: flex;
        justify-content: space-between;

        @include respond(media-md) {
            width: 50%;
            order: -1;
     }
     }
 }
 
 .grid__gallery-img    {
     
    @include respond(media-md)  {
        width: 100%;
    }
 }





