
/*
.wrapper    {
    max-width: 114rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid__gallery   {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
    //grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
    grid-gap: 1.5rem;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 1.5rem;
    padding: 0; 
}

.grid__gallery--frame   {
    max-width: 114rem; 
    height: auto;
    object-fit: cover; 
}*/

.grid-container {
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-around;
    
}

.row    {
    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: $gutter-vertical; 

    &:not(:last-child)  {
        margin-bottom: $gutter-vertical;
    }

    .col-1-of-2 {
        width: calc((100% - $gutter-vertical) / 2);
        background-color: var(--color-anthrazit);
    }

    .col-2-of-2 {
        width: calc(2 * (100% - 2 * $gutter-vertical));
    }

}
