.header__cafe   {
    width: 100vw; 
    height: 75vh; 
    background-color: var(--color-rosa);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3)),
      url(../Images/FEND-Coffee-machine-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .header__button--cafe {
  margin: auto;
  position: absolute;
  top: 250px;
  left: 100px;
  }