header  {
    width: 100vw;
    height: 75vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3)),
      url(../Images/FEND-Coffee-latte-art-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.header__content  {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__heading {
    text-align: center;
    margin-top: 190px;
    margin-bottom: 100px;
  
    &--primary  {
      color: var(--color-white);
      font-size: 3.125rem;
    }
  
    &--primary-main {
      display: block;
      @include section-title-h1-m ();
  
      @media (min-width: 1200px)  {
        @include section-title-h1-d ();
      }
    }
  
    &--primary-sub  {
      display: block;
      font-size: 1.125rem;
      font-weight: $font-weight-body; /*wie dick die Schrift angezeigt wird*/
      top: 16.75rem;
  
      @media (min-width: 1200px)  {
        font-size: $font-size-body-text;
        line-height: 22px;
        
      }
    }  
  }
  

  .header__button {
    display: flex;
    justify-content: center; 
    margin-bottom: 60px;
  
    @media (min-width: 1200px)  {
      align-items: left; 
    }
  }
  
  .header__button--style {
    border-radius: 5px;
    background-color: var(--color-black);
    border: 2px solid var(--color-anthrazit);
    color: var(--color-white);
    padding: 1.5rem 5rem;
    text-decoration: none;
    font-size: 14px;
  
    &:hover {
      background-color: var(--color-anthrazit);
      color: var(--color-white);
      border: none;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  
    &:active  {
      background-color: var(--color-kraftpapier);
      border-width: 2px;
      color: var(--color-white);
      border-color: var(--color-white);
      border-style: solid; 
    }
  
    &:focus {
      outline:  2px dashed var(--color-petrol);
      outline-offset: 10px;
      border-radius: 5px;
    } 
  }
  