.main__herkunft {
    height: 50vh;
    background-image: linear-gradient(
        to bottom,
        rgba( #1a1a1a80, 0.5),
        #1a1a1a80
      ),
      url(../Images/FEND-Coffee-bags-2.png);
    background-size: cover;
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    @media (min-width: 1200px)  {
      background-position: 50%;
      background-repeat: no repeat;
      height: 50vh;
    }
  }
  
  .main__herkunft__titel {
    @include section-title-h3-m();
  
    @media (min-width: 1200px)  {
      @include section-title-h3-d();
    }
  
  }
  
  .main__herkunft__text {
    width: 240px;
    @include body-text-m ();
    margin-bottom: 20px;
  
    @media (min-width: 1200px)  {
      @include body-text-d ();
      width: 20%;
      margin-bottom: 35px;
    }
  }
  
  .main__herkunft__link {
    padding: 1.125rem;
  
    @media (min-width: 1200px)  {
      @include body-text-d ();
    }
  }