.main__kaffeesorten {
    background-color: var(--color-anthrazit);
    color: var(--color-white);
    padding: 0px 25px;
    height: auto; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    @media (min-width: 1200px)  {
      padding: 0px 100px;
      height: 1076px;
    }
  }
  
  .main__kaffeesorten--titel {
    @include section-title-h2-m();
  
    @media (min-width: 1200px)  {
      @include section-title-h2-d();
      margin-bottom: 80px;
      width: 75%;
      
    }
  }
  
  .main__kaffeesorten--flexbox {
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
    @media (min-width: 1200px)  {
      width: 100vw;
      justify-content: space-between; 
      flex-wrap: nowrap;
    }
  }
  
  .main__kaffeesorten--flexitems {
    margin-top: 40px;
   
    @media (min-width: 1200px)  {
      margin-bottom: 0px;
    }
    
  }
  
  .main__kaffeesorten--costarica {
    background-color: #e9e9e9;
    text-align: center;
  }
  
  .main__kaffeesorten--costarica-img {
    width: 155px;
    height: 208px;
  
    @media (min-width: 1200px)  {
      width: 299px;
      height: 399px;
    }
  }
  
  .main__kaffeesorten-beschreibung {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .main__kaffeesorten-beschreibung--main {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .main__kaffeesorten-beschreibung--sub {
    display: block;
    color: var(--color-medium-grey);
    font-size: 14px;
    font-weight: 400;
  }
  
  .main__kaffeesorten--icon {
    width: 12px;
    height: 14px;
  }
  
  
  .main__kaffeesorten--button--flex  {
  display: flex;
  width: 100vw;
  justify-content: center;
  
    @media (min-width: 1200px)  {
  
    }
    
  }
  
  .main__kaffeesorten--button {
    border-radius: 5px;   
    background-color: #1a1a1a;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: var(--color-white);
  
    @media (min-width: 1200px)  {
      margin-bottom: 125px;
      
    }
  
    &:hover {
      background-color: var(--color-anthrazit);
      color: var(--color-white);
      border: none;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  
    &:active  {
      background-color: var(--color-kraftpapier);
      border-width: 2px;
      color: var(--color-white);
      border-color: var(--color-white);
      border-style: solid; 
    }
  
    &:focus {
      outline:  2px dashed var(--color-petrol);
      outline-offset: 10px;
      border-radius: 5px;
    } 
  
    
  }