
.main-navigation {
  height: 5.5rem;
  width: 100%;
  padding: 0 2.5rem;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;

  @include respond(media-lg)  {
    padding: 0.5rem 5rem;
  }

  @include respond(media-xl)  {
    padding: 0.5rem 10rem;
  }

  @include respond(media-xxl) {
    padding: 0.5rem 12.5rem;
  }
}


.nav-toggle-button {    //Button ist nicht verlinkt im HTML - das Problem? 
  width: 3rem;
  background: transparent; //liegt unter dem Burger-Menu
  border: none;
  position: absolute; 
  right: 2.5rem;
  cursor: pointer;
  padding-bottom: 0;
  vertical-align: middle;
}

.header__sitebar--toggle-button  {
  width: 2.35rem;
  margin-top: 2rem;
}

.nav-toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.4rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.main-navigation__brand {
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%;
}

.main-navigation__brand img {
  height: 3.5rem;
  width: 3.5rem;
}


.main-navigation-box {
  display: none;
}

.main-navigation__items {
  margin: 0; 
  display: flex;
  justify-content: flex-end;
  list-style: none;
  
}

.main-navigation__item {
  margin: 0 1rem;
  padding-left: 7rem;
}

.main-navigation__item a,
.mobile-navigation__item a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.8rem;
}


.underline  {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: ""; //content ist leer
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -1px;
  background: var(--color-white);
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

.main-navigation__item a:visited,
.main-navigation__item a:active {
  color: var(--color-kraftpapier);
  border-bottom: 1px solid var(--color-kraftpapier);
}

//--------------------------------------------------

@include respond(media-md) {

  //.header__sitebar--toggle-button {
  //  display: none;
  //}

  .mobile-navigation  {
    display: none;
  }

  .main-navigation-box {
    display: flex;
  }
}


.mobile-navigation {
  position: fixed;
  z-index: 101;
  width: 100%;
}

#background-black {
  background-color: var(--color-anthrazit);
  opacity: 0;
  //transition: opacity 1s;
  width: 0%;
  height: 100vh;
  position: absolute; 
  top: 0;
  right: -100%;
}

#nav-open {
  position: absolute; 
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  z-index: 3000;
  opacity: 0;
}

#nav-closed {
  position: absolute; 
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  z-index: 3000;
}

.mobile-navigation input  {
  display: none;
}

.mobile-navigation__items { // <nav>
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 50%;
height: 100vh;
padding: 0;
text-align: left;
opacity: 0;
overflow: hidden;
}

.mobile-navigation__list {
  z-index: 3000;
  overflow: hidden;
}

.mobile-navigation__item {
margin: 2.5rem 0;
align-self: flex-start;
margin-left: 6rem;
font-size: 1.8rem;
list-style: none;
}

.mobile-navigation__item a {
font-size: 3.2rem;
font-weight: 900;
cursor: pointer;
}

.navi-toggle-button {
  position: absolute; 
  right: 1rem;
  top: 2rem;
}


//Verhaltensregeln

#navi-toggle:checked ~ .mobile-navigation__items { //wenn Burger geklickt, zeige Navigation
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#navi-toggle:checked ~ label #background-black {    //wenn Burger geklickt, zeige schwarzen Hintergrund
  opacity: 1;
  transition: all 0.1s ease-in-out;
  right: 0%;
  width: 100%;
}

#navi-toggle:checked ~ .responsive-label #nav-open  {   //wenn Burger geklickt, verstecke Burger, öffne Kreuz
  opacity: 0; 
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#navi-toggle:checked ~ label #nav-closed  {  //wenn Burger geklickt, verstecke Burger
  opacity: 0;
  transition: all 0.3s ease-in-out;
  //z-index: -1;
}

#navi-toggle:checked ~ label #nav-open  {
  opacity: 1;
}






//wenn kein schwarzer HG, dann erscheinen alle Nav-Items normal und bleiben stehen. Mit HG: 1 sek angezeigt, dann weg




.button {
background: white;
color: black;
font: inherit;
border: 1.5px solid #0e4f1f;
padding: 0.5rem;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
}

.button:hover,
.button:active {
background: white;
color: white;
}

.button:focus {
outline: none;
}

.button[disabled] {
cursor: not-allowed;
border: #a1a1a1;
background: #ccc;
color: #a1a1a1;
} 

.open {
display: block !important;
}







.header__logo   {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 2rem;
    left: 2.5rem;
   

    @include respond(media-sm)  {
        left: 5rem;
    }

    @include respond(media-md)  {
        left: 7rem;
    }

    @include respond(media-lg)  {
        left: 8rem;
    }

    @include respond(media-xl)  {
        left: 10rem;
    }
}

/*
.navigation {

    &__checkbox {
        //display: none;
        opacity: 0;
        position: fixed; 
        top: 3rem;
        right: 3rem;
        background-color: #0e4f1f;
        z-index: 3000;
    }

    &__logo {
        width: 2.5; 
        height: 1.5rem;
        position: fixed; 
        top: 2rem;
        right: 2.5rem;
        z-index: 2000;
    }

    &__button {
        background-color: var(--color-white);
        height: 5rem;
        width: 5rem; 
        position: fixed; 
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        //box-shadow: 0 1rem 3rem rgba(var(--color-anthrazit), 0.1);
        //background-iamge: Burger-Menu?
    }


    &__background {
        //display: none;
       height: 4rem;
       width: 4rem; 
       border-radius: 50%;
       position: fixed; //wie position absolute aus dem Flow
       top: 2.5rem;
       right: 2.5rem;
       background-color: var(--color-anthrazit);
       z-index: 1000;
       transform: scale(100);

    }

    &__nav {
       position: fixed;
       //top: 0; 
       //right: 0; 
       z-index: 1500;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 6rem;
      list-style: none;
      height: 100vh;
       //position: absolute; 
       //top: 50%; 
       //left: 50%; 
       //transform: translate(-50%, -50%);
       //text-align: left;
       
    }

    &__item {
       margin: 2.5rem 0;
    }

    &__link {

        &:link, 
        &:visited   {
            display: inline-block;
            font-size: 3rem;
            font-weight: 900;
            //padding: 2rem 0;
            color: var(--color-white);
            text-decoration: none;
            //background-image: linear-gradient(110deg, transparent 0%, transparent 50%, var(--color-white) 50% );
            //background-size: 220%;
            //transition: all .4s;
        }

        &:hover, 
        &:active {
            background-position: 100%;
            color: var(--color-kraftpapier);
            border-bottom: 1px solid var(--color-white);
            //transform: translatex(1rem); leichte Bewegung des Items bei Klick
        }
        
    }

    //Checkbox-Hack

    #navi-toggle:checked ~ &__background    {
        transform: scale(100);
    }

    #navi-toggle:checked ~ &__nav    {
      opacity: 1;
      width: 100%;
  }

}

*/