.header__logo   {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    z-index: 800;

    @include respond(media-sm)  {
        left: 5rem;
    }

    @include respond(media-md)  {
        left: 7rem;
    }

    @include respond(media-lg)  {
        left: 8rem;
    }

    @include respond(media-xl)  {
        left: 10rem;
    }
}


.navigation {
    

    &__checkbox {
        display: none;
        position: fixed; 
        top: 3rem;
        right: 3rem;
    }

    &__logo {
        width: 2.5; 
        height: 1.5rem;
        position: fixed; 
        top: 2rem;
        right: 2.5rem;
        z-index: 2000;
    }

    &__button {
        
        background-color: var(--color-white);
        height: 5rem;
        width: 5rem; 
        position: fixed; 
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(var(--color-anthrazit), .1);
    }


    &__background {
        display: none;
       height: 4rem;
       width: 4rem; 
       border-radius: 50%;
       position: fixed; //wie position absolute aus dem Flow
       top: 2.5rem;
       right: 2.5rem;
       background-color: var(--color-anthrazit);
        z-index: 1000;

        //transform: scale(100);
    }

    &__nav {
       height: 100vh; 
       width: 100%;
       position: fixed;
       top: 0; 
       right: 0; 
       z-index: 1500;

       opacity: 0;
       width: 0;
    }

    &__list {
       position: absolute; 
       top: 50%; 
       left: 50%; 
       transform: translate(-50%, -50%);
       text-align: center;
    }

    &__item {
       margin: 1rem;
    }

    

    &__link {

        &:link, 
        &:visited   {
            display: inline-block;
        font-size: 3rem;
        font-weight: 400;
        padding: 1rem 2rem;
        color: var(--color-white);
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(110deg, transparent 0%, transparent 50%, var(--color-white) 50% );
        background-size: 220%;
        transition: all .4s;
        }

        &:hover, 
        &:active {
            background-position: 100%;
            color: var(--color-kraftpapier);
            transform: translatex(1rem);
        }
        
    }

    //Checkbox-Hack

    &__checkbox:checked ~ &__background    {
        transform: scale(100);
    }

}