
.header__sitebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 55px;
    z-index: 1;
    padding: $padding-mobile;
  
    &--logo {
      @include roesterei-logo();
      margin-top: 10px;
    
      @media (min-width: 1200px)  {
        margin-left: 100px;
      }
    }
  }
  
  .header__sitebar--toggle-button  {
    width: 23,5px;
    height: 12,5px;
  
    @media (min-width: 578px)  {
      visibility: hidden;
    }
  }
  
  .header__main-nav {
    text-align: right;
    height: auto;
    display: inline-block;
    
  
    &-items {
      display: flex;
    list-style-type: none;
    vertical-align: center;
    }
  
    &-item  {
      padding: 0px 66px;
    }
  }
  
  
  .header__main-nav-item-animation a  {
    position: relative;
    
  }
  
  .main-nav-item-animation:hover  {
    color: var(--color-primary-light);
    border-bottom: 1px solid var(--color-white);
    padding: 3px 0px;
  }