
/*
.header__logo   {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    z-index: 800;

    @include respond(media-sm)  {
        left: 5rem;
    }

    @include respond(media-md)  {
        left: 7rem;
    }

    @include respond(media-lg)  {
        left: 8rem;
    }

    @include respond(media-xl)  {
        left: 10rem;
    }
}


.navigation {
    

    &__checkbox {
        display: none;
        position: fixed; 
        top: 3rem;
        right: 3rem;
    }

    &__logo {
        width: 2.5; 
        height: 1.5rem;
        position: fixed; 
        top: 2rem;
        right: 2.5rem;
        z-index: 2000;
    }

    &__button {
        
        background-color: var(--color-white);
        height: 5rem;
        width: 5rem; 
        position: fixed; 
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(var(--color-anthrazit), .1);
    }


    &__background {
        display: none;
       height: 4rem;
       width: 4rem; 
       border-radius: 50%;
       position: fixed; //wie position absolute aus dem Flow
       top: 2.5rem;
       right: 2.5rem;
       background-color: var(--color-anthrazit);
        z-index: 1000;

        //transform: scale(100);
    }

    &__nav {
       height: 100vh; 
       width: 100%;
       position: fixed;
       top: 0; 
       right: 0; 
       z-index: 1500;

       opacity: 0;
       width: 0;
    }

    &__list {
       position: absolute; 
       top: 50%; 
       left: 50%; 
       transform: translate(-50%, -50%);
       text-align: center;
    }

    &__item {
       margin: 1rem;
    }

    

    &__link {

        &:link, 
        &:visited   {
            display: inline-block;
        font-size: 3rem;
        font-weight: 400;
        padding: 1rem 2rem;
        color: var(--color-white);
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(110deg, transparent 0%, transparent 50%, var(--color-white) 50% );
        background-size: 220%;
        transition: all .4s;
        }

        &:hover, 
        &:active {
            background-position: 100%;
            color: var(--color-kraftpapier);
            transform: translatex(1rem);
        }
        
    }

    //Checkbox-Hack

    &__checkbox:checked ~ &__background    {
        transform: scale(100);
    }

}

*/

.main-navigation {
    height: 55px;
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .nav-toggle-button {    //Button ist nicht verlinkt im HTML - das Problem? 
    width: 3rem;
    background: transparent;
    border: none;
    position: absolute; 
    right: 2.5rem;
    cursor: pointer;
    padding-bottom: 0;
    vertical-align: middle;
  }

  .header__sitebar--toggle-button  {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .nav-toggle-button:focus {
    outline: none;
  }

  .toggle-button__bar {
    width: 100%;
    height: 0.4rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
  }
 
  .main-navigation__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 2.5rem;
    
  }
  
  .main-navigation__brand img {
    height: 2.5rem;
  }
  

  .main-navigation-box {
    display: none;
  }
  
  .main-navigation__items {
    margin: 0; 
    padding:0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  .main-navigation__item {
    margin: 0 1rem;
  }
  
  .main-navigation__item a,
  .mobile-navigation__item a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
    padding: 0.2rem 0;
  }
  
  .main-navigation__item a:hover,
  .main-navigation__item a:active {
    color: white;
    border-bottom: 5px solid white;
  }

@include respond(media-sm) {

  .header__sitebar--toggle-button {
    display: none;
  }

  .main-navigation-box {
    /*display: inline-block;
    text-align: right;
    width: calc(100% - 44px);
    vertical-align: middle;*/
    display: flex;
  }
}

.mobile-navigation {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100vh;
}

.mobile-navigation__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
  /*margin: 10% auto;*/
  padding: 0;
  text-align: center;
  
}

.mobile-navigation__item {
  margin: 2.5rem 0;
  align-self: flex-start;
  margin-left: 6rem;
}

.mobile-navigation__item a {
  font-size: 3.2rem;
  font-weight: 900;
}

.button {
  background: white;
  color: black;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: white;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
} 

.open {
  display: block !important;
}



  
