.main__roesterei {
    @include body-text-m ();
    padding: $padding-mobile;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 

        @include respond(media-sm)  { 
          
        }

        @include respond(media-md)  {
          
        }

        @include respond(media-lg)  {
          
        }

        @include respond(media-xl)  {
          @include body-text-d ();
          padding: $padding-desktop;
          flex-direction: row;
          flex-wrap: nowrap;
        }

        @include respond(media-xxl)  {
          
        }
  }
  
  .main__roesterei--titel {
    @include section-title-h2-m();
    margin-bottom: 35px;

        @include respond(media-sm)  { 
          
        }

        @include respond(media-md)  {
          
        }

        @include respond(media-lg)  {
          
        }

        @include respond(media-xl)  {
          @include section-title-h2-d();
        }

        @include respond(media-xxl)  {
          
        }
  }
  
  .main__roesterei--text {
    @include body-text-m ();

    @include respond(media-xl)  {
      @include body-text-d ();
    }
  }
  
  .main__roesterei-kontaktdaten--flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;

    @include respond(media-xl)  {
      align-items: flex-start;
      width: 85%;
    }
  }
  
  .main__roesterei-kontaktdaten-flexitem {
    

    @include respond(media-xl)  {
      margin: 0;
    }
  }
  
  
  .main__roesterei--img-flex {
    display: flex;
    justify-content: flex-end;
  }
  
  .main__roesterei--img {

    @include respond(media-xl)  {
      height: 391px;
      width: 607px;
      margin-top: 125px;
    }
  }