.main__biofair {
    height: auto;
    padding: 0rem 2.5rem;
    display: flex;
    justify-content: column;
    flex-wrap: wrap; 

    @include respond(media-sm)  {
      padding: 0rem 5rem;
    }

    @include respond(media-lg)  {
      padding: 0rem 7.5rem;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
    @include respond(media-xl)  {
      padding: 0rem 10rem;
      justify-content: center;
      flex-wrap: nowrap; 
    }

    @include respond(media-xxl)  {
      padding: 0rem 12.5rem;
    }
  }


  .main__biofair--textelemente  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .main__biofair--titel {
    @include section-title-h3-m ();   //32
    margin-top: 4rem;
    margin-bottom: 1.2rem;

        @include respond(media-sm)  {   //34
          margin-bottom: 2.5rem;
          font-size: 3.4rem;
        }

        @include respond(media-md)  {   //36
          font-size: 3.6rem;
        }

        @include respond(media-lg)  {
          font-size: 3.8rem;
          margin-left: 8rem;
        }
      
        @include respond(media-xl)  { //42
          font-size: $font-size-h3;
        }

        @include respond(media-xxl) {
          font-size: 4.5rem;
        }
  }

  .main__biofair--text {
    @include body-text-m ();    //14
    margin-bottom: 4rem;
    line-height: 1.2;
    
    
        @include respond(media-sm)  {   //15
          font-size: 1.5rem;
        }

        @include respond(media-md)  {   //16
          font-size: 1.6rem;
        }

        @include respond(media-lg)  {   //17
          font-size: 1.7rem;
          margin-left: 8rem;
        }
      
        @include respond(media-xl)  {   //18
          @include body-text-d ();
        }

        @include respond(media-xxl) {   //19
          font-size: 2.1rem;
        }
  }
  
  .main__biofair--img-flexbox {
   align-self: flex-end;
   margin-bottom: 6rem;

      @include respond(media-sm)  {
        
      }

      @include respond(media-lg)  {
        order: -1;
        margin-top: 10rem;
      }
      
        @include respond(media-xl)  {
        margin-top: 12.5rem;
      }
  }

  .main__biofair--img-flexbox  {
    display: flex;
  }

  .main__biofair--img {
    width: 100%;

    @include respond(media-sm)  {
      width: 260px;
      height: auto;
    }

    @include respond(media-md)  {
      width: 300px;
      height: auto;
    }

    @include respond(media-lg)  {
      width: 400px;
      height: auto;
      flex-grow: 1;
    }

    @include respond(media-xl)  {
      height: 391px; /*abändern - responsive skalieren*/
      width: auto;
      margin-bottom: 12.5rem;
    }
}