.main__kaffeesorten {
    background-color: var(--color-anthrazit);
    color: var(--color-white);
    padding: 0px 25px;
    height: auto; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    @include respond(media-sm)  {
      padding: 0px 50px;
    }

    @include respond(media-md)  {
      padding: 0px 75px;
    }

    @include respond(media-lg)  {
      padding: 0px 100px;
    }

    @include respond(media-xl)  {
      padding: 0px 100px;
    }

    @include respond(media-xxl) {
      padding: 0px 125px;
    }

  }
  
  .main__kaffeesorten--titel {
    @include section-title-h2-m();


    @include respond(media-sm)  {
    }
  
    @include respond(media-xl) {
      @include section-title-h2-d();
      margin-bottom: 80px;
    }
  }

  .umbruch  {
    display: block;
  }

  
  .main__kaffeesorten--flexbox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
    @include respond(media-sm)  {
      justify-content: space-between;
    }

    @include respond(media-md)  {
      justify-content: space-around;
    }

    @include respond(media-lg)  {
      
    }

    @include respond(media-xl)  {
      justify-content: space-between; 
      flex-wrap: nowrap;
    }
  }
  
  .main__kaffeesorten--flexitems {
    margin-top: 40px;
   
    @include respond(media-sm)  {
      padding: 0px 25px;
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {
      padding: 0px 0px;
    }

    @include respond(media-xl)  {
      margin-bottom: 35px;
      padding: 0px 0px;
    }
    
  }
  
  .main__kaffeesorten--costarica {
    background-color: #e9e9e9;
    text-align: center;

    @include respond(media-sm)  {
      width: 185px;
    }

    @include respond(media-md)  {
      width: 100%;
    }

    @include respond(media-lg)  {
      width: 95%;
    }

    @include respond(media-xl)  {
      width: 100%;
    }

    @include respond(media-xxl) {
      width: 100%;
    }
  }
  
  .main__kaffeesorten--costarica-img {
    width: 155px;
    height: 208px;

    @include respond(media-sm)  {
    }

    @include respond(media-md)  {
      width: 200px;
      height: 300px;
    }

    @include respond(media-lg)  {
      width: 299px;
      height: 399px;
    }

    @include respond(media-xl)  {
      width: 299px;
      height: 399px;
    }

    @include respond(media-xxl)  {
      width: 350px;
      height: 420px;
    }
  }
  
  .main__kaffeesorten-beschreibung {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .main__kaffeesorten-beschreibung--main {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .main__kaffeesorten-beschreibung--sub {
    display: block;
    color: var(--color-medium-grey);
    font-size: 14px;
    font-weight: 400;
  }
  
  .main__kaffeesorten--icon {
    width: 12px;
    height: 14px;
  }
  
  
  .main__kaffeesorten--button--flex  {
  display: flex;
  width: 100vw;
  justify-content: center;
  
  @include respond(media-sm)  {
  }

  @include respond(media-xl)  {
  }
    
  }
  
  .main__kaffeesorten--button {
    border-radius: 5px;   
    background-color: #1a1a1a;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: var(--color-white);
  
    @include respond(media-sm)  {
    }
  
    @include respond(media-xl)  {
      margin-bottom: 125px;
      
    }
  
    &:hover {
      background-color: var(--color-anthrazit);
      color: var(--color-white);
      border: none;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  
    &:active  {
      background-color: var(--color-kraftpapier);
      border-width: 2px;
      color: var(--color-white);
      border-color: var(--color-white);
      border-style: solid; 
    }
  
    &:focus {
      outline:  2px dashed var(--color-petrol);
      outline-offset: 10px;
      border-radius: 5px;
    } 
  
    
  }