.main__produktvorstellung {
    width: 100%;
    height: auto;
    padding: $padding-desktop;

    @include respond(media-sm)  {

    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {
      padding: 0 7.5rem;
    }

    @include respond(media-xl)  {
      padding: $padding-desktop;
    }

    @include respond(media-xxl) {
      padding: 0 12.5rem;
    }
  }
  
  .main__produktvorstellung--titel {
    @include section-title-h2-m();
    text-align: center;
    margin-bottom: 6rem;
    
  
    @media (min-width: 1200px)  {
      @include section-title-h2-d();
      margin-bottom: 8rem;
    }
  }
  
  .image  {
    width: 100%;
    margin-bottom: 4rem;
  
    @include respond(media-xl)  {
      width: 45%;
      text-align: right; 
    }
  }
  
  .main__produktvorstellung__elemente--img  {
    width: 193px;
    

    @include respond(media-sm)  {
      width: 250px;
      height: 100%;
    }

    @include respond(media-md)  {
      width: 300px;
    height: 100%;
    }

    @include respond(media-lg)  {
      width: 350px;
    height: 100%;
    }
    
    @include respond(media-xl) {
      width: 402px;
      height: 100%;
    }

    @include respond(media-xxl)  {
    }

  }
  
  .main__produktvorstellung__flexbox-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; 

    @include respond(media-sm)  {
    }
  
    @include respond(media-xl)  {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .main__produktvorstellung__flexbox-2  {
    display: flex;
    flex-direction: row; 

    @include respond(media-sm)  { //
    }

    @include respond(media-md)  {
    }

    @include respond(media-lg)  {
    }
    
    @include respond(media-xl)  {
      flex-direction: column;
      justify-content: flex-start;
      width: 45%;
    }

    @include respond(media-xxl)  { //
    }
  
  }


  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(media-sm)  { //
      width: 16rem;
    }

    @include respond(media-md)  {
      width: 20rem;
    }

    @include respond(media-lg)  {
    }
  
    @include respond(media-xl) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem 0;
    text-align: left;
   }

   @include respond(media-xxl)  { //
   }

   
  }
  
  .main__produktvorstellung--icon {
    margin-bottom: 1rem;

    @include respond(media-sm)  {
      
    }

    @include respond(media-md)  {
      

    }

    @include respond(media-lg)  {
    }
  
    @include respond(media-xl) { 
      margin-right: 3rem;
    }

    @include respond(media-xxl)  { //
    }
  }
  
  .main__produktvorstellung__heading {
    @include body-text-m ();
    padding: 2rem 2rem;
  
    &__heading--main  {
      display: block;
    }
  
    &__heading--sub {
      display: block;
    }
  
    @media (min-width: 1200px)  {
      @include body-text-d ();
      padding: 0 3rem;
    }
  
  }
  
  .main__produktvorstellung__button {
    display: flex;
    justify-content: center; 

    @include respond(media-sm)  {
    }
  
    @include respond(media-xl)  {
      align-items: left; 
    }
  }
  
  .main__produktvorstellung--button {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--color-black);
    border: none;
    color: var(--color-white);
    padding: 1.5rem 5rem;
    text-decoration: none;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 30px;
  
    &:hover {
      background-color: var(--color-anthrazit);
      color: var(--color-white);
      border: none;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  
    &:active  {
      background-color: var(--color-kraftpapier);
      border-width: 2px;
      color: var(--color-white);
      border-color: var(--color-white);
      border-style: solid; 
    }
  
    &:focus {
      outline:  2px dashed var(--color-petrol);
      outline-offset: 10px;
      border-radius: 5px;
    } 
  }
  