.main__roesterei {
    @include body-text-m ();
    padding: $padding-mobile;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 

        @include respond(media-sm)  {
          padding: 0rem 5rem;
        }

        @include respond(media-md)  {
          
        }

        @include respond(media-lg)  {
          
        }

        @include respond(media-xl)  {
          @include body-text-d ();
          padding: $padding-desktop;
          flex-direction: row;
          flex-wrap: nowrap;
        }

        @include respond(media-xxl)  {
          
        }
  }
  
  .main__roesterei--titel {
    @include section-title-h2-m();
    margin-bottom: 3.5rem;

        @include respond(media-sm)  { 
          
        }

        @include respond(media-md)  {
          
        }

        @include respond(media-lg)  {
          
        }

        @include respond(media-xl)  {
          @include section-title-h2-d();
        }

        @include respond(media-xxl)  {
          
        }
  }
  
  .main__roesterei--text {
    @include body-text-m ();

    @include respond(media-sm)  {
      width: 95%;
      font-size: 15px;
    }

    @include respond(media-md)  {
      font-size: 16px;
    }

    @include respond(media-lg)  {
      font-size: 18px;
    }

    @include respond(media-xl)  {
      @include body-text-d ();
    }

    @include respond(media-xxl) {
      font-size: 21px;
    }
  }
  
  .main__roesterei-kontaktdaten--flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;

    @include respond(media-sm)  {
      width: 95%;
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {

    }

    @include respond(media-xl)  {
      align-items: flex-start;
      width: 85%;
    }

    @include respond(media-xxl) {

    }
  }
  
  .main__roesterei-kontaktdaten-flexitem {
    
    @include respond(media-sm)  {

    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {

    }

    @include respond(media-xl)  {
      margin: 0;
    }

    @include respond(media-xxl) {
      
    }
  }
  
  
  .main__roesterei--img-flex {
    display: flex;
    justify-content: flex-end;
  }
  

  .main__roesterei--img {

    @include respond(media-sm)  {
      width: 260px;
      height: auto;
    }

    @include respond(media-xl)  {
      width: 607px;
      height: auto;
      margin-top: 12.5rem;
    }
  }