.main__roesterei {
    padding: $padding-mobile;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 

        @include respond(media-sm)  {
          padding: 0rem 5rem;
        }

        @include respond(media-md)  {
        }

        @include respond(media-lg)  {
          padding: 0rem 7.5rem;
          flex-direction: row;
          flex-wrap: nowrap;
        }

        @include respond(media-xl)  {
          @include body-text-d ();
          padding: $padding-desktop;
        }

        @include respond(media-xxl)  {
          padding: 0rem 12.5rem;
        }
  } 

  .main__roesterei--textelemente  {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond(media-sm)  { 
          
    }

    @include respond(media-md) {

    }

    @include respond(media-lg) {
      padding-right: 3rem;
    }

    @include respond(media-xl) {

    }

    @include respond(media-xxl)  {

    }
  }
  
  .main__roesterei--titel {
    @include section-title-h2-m();
    margin-bottom: 3.5rem;

        @include respond(media-sm)  { 
          
        }

        @include respond(media-md)  {
          
        }

        @include respond(media-lg)  {
          margin-top: 100px;
        }

        @include respond(media-xl)  {   //1200
          font-size: 48px;
          margin-top: 125px;
        }

        @include respond(media-xxl)  {
          
        }
  }
  
  .main__roesterei--text {
    @include body-text-m ();
    line-height: 1.2;

    @include respond(media-sm)  {
      width: 95%;
      font-size: 1.5rem;
    }

    @include respond(media-md)  {
      font-size: 1.6rem;
    }

    @include respond(media-lg)  { //992
      font-size: 1.7rem;
      font-size: $font-size-body-text;
      width: 100%;      
    }

    @include respond(media-xl)  {
      @include body-text-d ();
    }

    @include respond(media-xxl) {
      font-size: 2.1rem;
    }
  }
  
  .main__roesterei-kontaktdaten--flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 85%;

    @include respond(media-sm)  {
      width: 75%;
    }

    @include respond(media-md)  {
    }

    @include respond(media-lg)  {
      width: 90%;
    }

    @include respond(media-xl)  {
      align-items: flex-start;
      width:85%;
      height: 25%;
      flex-grow: 1;
      margin-top: 3.5rem;
    }

    @include respond(media-xxl) {

    }
  }
  
  .main__roesterei-kontaktdaten-flexitem {
    font-size: 1.4rem;
    
    @include respond(media-sm)  {
      font-size: 1.5rem;
    }

    @include respond(media-md)  {
      font-size: 1.6rem;
    }

    @include respond(media-lg)  {
      font-size: 1.7rem;
    }

    @include respond(media-xl)  {
      font-size: 1.8rem;
      margin: 0;
    }

    @include respond(media-xxl) {
      font-size: 2.1rem;
    }
  }
  
  
  .main__roesterei--img-flexbox {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include respond(media-lg)  {
      margin-top: 10rem;
    }

    @include respond(media-xl)  {
      margin-top: 10rem;
    }

    @include respond(media-xxl)  {
      margin-top: 10rem;
     
    }
  }
  

  .main__roesterei--img {

    @include respond(media-lg)  {
      width: 100%;
    }
  }

  
