.main__produktvorstellung {
  height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .main__produktvorstellung--titel {
    @include section-title-h2-m();
    text-align: center;
    margin-bottom: 6rem;
    
  
    @media (min-width: 1200px)  {
      @include section-title-h2-d();
      margin-bottom: 8rem;
    }
  }
  
  .main__produktvorstellung--img-flexbox  {

    @include respond(media-xl) {  
      margin-left: 15rem;
    }

    @include respond(media-xxl)  {
      margin-left: 40rem;
    }

  }

  .main__produktvorstellung--img  {
    margin-bottom: 4rem;
  
    @include respond(media-xl)  {
      margin-bottom: 0;
    }
  }
  
  .main__produktvorstellung__flexbox-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; 

    @include respond(media-sm)  {
    }
  
    @include respond(media-xl)  {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .main__produktvorstellung__flexbox-2  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2.5rem;
    

    @include respond(media-sm)  { //
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {
      width: 33%;
    }
    
    @include respond(media-xl)  {
      flex-direction: column;
      justify-content: flex-start;
      width: 50%;
    }

    @include respond(media-xxl)  { //
    }
  
  }


  .main__produktvorstellung--icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    

    @include respond(media-sm)  { //
      width: 16rem;
    }

    @include respond(media-md)  {
      width: 20rem;
    }

    @include respond(media-lg)  {
    }
  
    @include respond(media-xl) {
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    padding: 2.5rem 0;
    text-align: left;
   }

   @include respond(media-xxl)  { //
   }

  }
  
  .main__produktvorstellung--icon {
    margin-bottom: 1rem;
    width: $icon-shop-width;
    height: $icon-shop-height;
    align-self: center;

    @include respond(media-sm)  {
      
    }

    @include respond(media-md)  {
      
    }

    @include respond(media-lg)  {
    }
  
    @include respond(media-xl) { 
      margin-right: 3rem;
    }

    @include respond(media-xxl)  { //
    }
  }
  
  .main__produktvorstellung__heading {
    @include body-text-m ();
    padding: 2rem 2rem;

    
    @include respond(media-sm) {
    font-size: 1.5rem;
    }

    @include respond(media-md) {
    font-size: 1.6rem;
    }

    @include respond(media-lg) {
      font-size: 1.7rem;
    }
  
   @include respond(media-xl) {
    font-size: 1.8rem;
    }
  
    &__heading--main  {
      display: block;
    }
  
    &__heading--sub {
      display: block;
    }
  
  }
  
  .btn--dark-product {
    display: flex;
    justify-content: center; 
    margin-top: 4rem;
    margin-bottom: 7rem;

    @include respond(media-sm)  {
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {

    }
  
    @include respond(media-xl)  {
      justify-content: flex-start; 
      margin-top: 5rem;
    }

    @include respond(media-xxl) {

    }
  }
  

  /*
  .main__produktvorstellung--button {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--color-black);
    border: none;
    color: var(--color-white);
    padding: 1.5rem 5rem;
    text-decoration: none;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 30px;

    @include respond(media-xl)  {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    &:hover {
      background-color: var(--color-anthrazit);
      color: var(--color-white);
      border: none;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  
    &:active  {
      background-color: var(--color-kraftpapier);
      border-width: 2px;
      color: var(--color-white);
      border-color: var(--color-white);
      border-style: solid; 
    }
  
    &:focus {
      outline:  2px dashed var(--color-petrol);
      outline-offset: 10px;
      border-radius: 5px;
    } 
  }
  */
  