.main__kaffeesorten {
    background-color: var(--color-anthrazit);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  
  .main__kaffeesorten--titel {
    @include section-title-h2-m();


    @include respond(media-sm)  {
    }
  
    @include respond(media-xl) {
      @include section-title-h2-d();
      margin-top: 6rem;
      margin-bottom: 8rem;
    }
  }

  .main__kaffeesorten--flexbox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
    @include respond(media-sm)  {
      justify-content: space-between;
    }

    @include respond(media-md)  {
      justify-content: space-around;
    }

    @include respond(media-lg)  {
    }

    @include respond(media-xl)  {   //1200
    }
  }
  
  .main__kaffeesorten--flexitems {
    margin-top: 4rem;
   
    @include respond(media-sm)  {
      padding: $padding-mobile;
    }

    @include respond(media-md)  {

    }

    @include respond(media-lg)  {
      padding: 0px 0px;
    }

    @include respond(media-xl)  {
      margin-bottom: 3.5rem;
      
    }
    
  }
  
  .main__kaffeesorten--costarica {
    
    text-align: center;

    @include respond(media-sm)  {
      width: 18.5rem;
    }

    @include respond(media-md)  {
      width: 100%;
    }

    @include respond(media-lg)  {
      width: 95%;
    }

    @include respond(media-xl)  {
      width: 100%;
    }

  }
  
  .main__kaffeesorten--costarica-img {
    width: 15.5rem;
    height: 100%;
    background-color: var(--color-light-grey);

    @include respond(media-sm)  {
    }

    @include respond(media-md)  {
      width: 200px;
    }

    @include respond(media-lg)  {
      width: 299px;
    }

    @include respond(media-xl)  {
      width: 299px;
    }

    @include respond(media-xxl)  {
      width: 350px;
    }
  }
  
  .main__kaffeesorten-beschreibung {
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .main__kaffeesorten-beschreibung--main {
    display: block;
    margin-top: 1rem;
    @include body-text-m ();

    @include respond(media-xl)  {
      @include body-text-d ();
    }
  }
  
  .main__kaffeesorten-beschreibung--sub {
    display: block;
    color: var(--color-medium-grey);
    @include body-text-m ();
  }
  
  .shop-svg {
    width: 1.2rem;
    height: 1.4rem;
    }

  .shop-svg path  {
    fill: var(--color-black);
  }
  
  .main__kaffeesorten--button {
    margin: 6rem 0;
 
  
    @include respond(media-xl)  {
      margin: 12.5rem;
    }
  }