//alle seitenspezifischen Styles

.header--img-cafe {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3)),
      url(../Images/FEND-Coffee-shopx2.jpg);
}

.main__roesterei--img-flex-2  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main__roesterei--img-2 {
   width: 75%;
   align-self: flex-end;

    @include respond(media-sm)  {
      width: 260px;
      height: auto;
    }

    @include respond(media-md)  {
      width: 350px;
      height: auto;
    }

    @include respond(media-lg)  {
      margin-top: 12.5rem;
      width: 400px;  
      height: auto;
    }

    @include respond(media-xl)  {
      width: 500px;
      height: auto;
      margin-top: 13rem;
    }

    @include respond(media-xxl)  {
    }
  }


  //Fotogalerie in Partial "Grid"