.main__roesterei--img-2 {
    width: 75%;
    height: auto;

    @include respond(media-sm)  {
      width: 260px;
      height: auto;
    }

    @include respond(media-md)  {
      width: 350px;
      height: auto;
    }

    @include respond(media-lg)  {
      width: 400px;  
      height: auto;
    }

    @include respond(media-xl)  {
      width: 500px;
      height: auto;
      margin-top: 13rem;
    }

    @include respond(media-xxl)  {
    }
  }

  //Fotogalerie in Partial "Grid"