.main__textelemente  {
  margin-bottom: 6rem;

  @include respond(media-xl)  {
    margin-bottom: 12.5rem;
  }
}

.main__section--img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 6rem;

  @include respond(media-xl)  {
    margin-left: 10rem;
    margin-bottom: 0;
    margin-top: 12.5rem;
   
  }
}

.main__section--img {
  align-self: flex-end;

  @include respond(media-xl)  {
    width: 100%;
    height: auto
  }
  
}

.section--img {

  @include respond(media-xl)  {
    width: 100%;
    height: auto;
  }
  
}
