.main__container  {
  margin-bottom: 5.6rem;
}

.movie  {
  padding: $padding-mobile;
  margin-bottom: 6rem;
  width: 100%;

  @include respond(media-sm)  {
    padding: $padding-small-device;
  }

  @include respond(media-lg)  {
    padding: $padding-large-device;
  }

  @include respond(media-xl)  {
    padding: $padding-desktop;
  }

  @include respond(media-xxl) {
    padding: $padding-extralarge-device;
  }
}

.main__textelemente  {
  margin-bottom: 6rem;
}

.main__section--img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.main__section--img {
}

.section--img {

}