.main-container-kontakt {
    margin-top: 8rem;
}

.header__contact {
    height: 5.5rem;
}

.section__contact   {
    margin-top: 8rem;
}

//Default-Styles entfernen

//

.contact-title  {
    margin-bottom: 3.5rem;
    margin-top: 0;
}

option  {
    background: var(--color-light-grey);
    border-top: 1px solid var(--color-anthrazit);
    padding: 3rem 1rem .3rem 1rem;
}

input   {
    font-size: 1.4rem;
    width: 100%;
    padding-left: 2rem;
    margin-top: .5rem;
    margin-bottom: 4rem;
    border: none;
    border-bottom: 3px solid var(--color-anthrazit);
}

textarea    {
    font-size: inherit;
    border: none;
    border-bottom: 3px solid var(--color-anthrazit);

    &::placeholder  {
        color: var(--color-light-grey);
    }
}

.message  {
    width: 100%;
    height: 17rem;
    padding-left: 2.5rem;
}


//Label-Styles

label  {
    font-size: 1.4rem;
}

//Background imput-Felder

.text    {
    background-color: var(--color-light-grey);
    height: 4rem;

    &::placeholder  {
        color: var(--color-anthrazit);
    }
}

.email  {
    height: 4rem;

    &::placeholder  {
        color: var(--color-light-grey);
    }
}

.phone  {
    background-color: rgba(255, 0, 0, 0.3);
    height: 4rem;

    &::placeholder  {
        color: #ff0000;
    }
}

//Drop-Down-Menu
select  {
    width: 100%;
    border: none;
    padding: 1.5rem 2.5rem;
    background-color: var(--color-anthrazit);
    color: white;
    border-radius: 5px;
    border: 2px solid var(--color-anthrazit);
    margin-bottom: 4rem;
}

//Button
.btn-contact    {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

//Checkbox

.checkbox-container {
    cursor: pointer;
    user-select: none;
    margin-top: 4rem;
    font-size: 1.4rem;
}

.checkbox-box   {
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
    margin-bottom: 0;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
}

.checkbox-container:hover .checkbox-label ~ .checkmark {
    background-color: #ccc;
  }

  .checkbox-container .checkbox-label:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container .checkbox-label:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}