@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typography";

@import "components/hero";
@import "components/button";
@import "components/components";

@import "layout/footer";
@import "layout/header";
@import "layout/navbar";
@import "layout/navigation";
@import "layout/roesterei";
@import "layout/biofair";
@import "layout/kaffeesorten";
@import "layout/herkunft";
@import "layout/produktvorstellung";
@import "layout/anfahrt";




:root {
  --color-white: #fff;
  --color-light-grey: #E9E9E9;
  --color-medium-grey: #737373;
  --color-anthrazit: #1a1a1a;
  --color-kraftpapier: #D7BE9D;
  --color-petrol: #006D7E;
  --color-rosa: #EDD1C9;
  --color-orange: #D77C12;
  --color-black: #000;
}

.logo {
  fill: var(--color-white);
}

  