@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typography";

@import "components/button-dunkel";
@import "components/roesterei";
@import "components/biofair";
@import "components/kaffeesorten";
@import "components/herkunft";
@import "components/produktvorstellung";
@import "components/anfahrt";
@import "components/gebaeck";
@import "components/grid";

@import "layout/header";
@import "layout/navbar";
@import "layout/navigation";
@import "layout/footer";
@import "layout/header-cafe";

@import "pages/cafe";
@import "pages/herkunft";
@import "pages/shop";


:root {
  --color-white: #fff;
  --color-light-grey: #E9E9E9;
  --color-medium-grey: #737373;
  --color-anthrazit: #1a1a1a;
  --color-kraftpapier: #D7BE9D;
  --color-petrol: #006D7E;
  --color-rosa: #EDD1C9;
  --color-orange: #D77C12;
  --color-black: #000;
}

.logo {
  fill: var(--color-white);
}

  