//Desktop
@mixin section-title-h1-d () {
    font-size: $font-size-h1;
    font-weight: $font-weight-headings;
}

@mixin section-title-h2-d () {
  font-size: $font-size-h2;
  font-weight: $font-weight-headings;
  margin-top: 12rem;
  margin-bottom: 3.5rem;
}

@mixin section-title-h3-d () {
    font-size: $font-size-h3;
    font-weight: $font-weight-headings;
    margin-bottom: 3.5rem;
  }

@mixin body-text-d () {
    font-size: $font-size-body-text;
    font-weight: $font-weight-body;
    line-height: 130%;
  }



//Mobile 
@mixin section-title-h1-m () {
    font-size: $font-size-h1-m;
    font-weight: $font-weight-headings;
}

  @mixin section-title-h2-m () {
    font-size: $font-size-h2-m;
    font-weight: $font-weight-headings;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
  
@mixin section-title-h3-m () {
    font-size: $font-size-h3-m;
    font-weight: $font-weight-headings;
    margin-bottom: 1.2rem;
}

@mixin body-text-m () {
    font-size: $font-size-body-text-m;
    font-weight: $font-weight-body;
    line-height: 110%;
  }

@mixin subhead () {
    font-size: $font-size-sh;
    font-weight: $font-weight-body;
}


//Logo Rösterei
@mixin roesterei-logo {
    height: 2.1875rem;
    width: 2.1875rem;
}


//MEDIA QUERIE MANAGER  
//1em = 16px

@mixin respond($breakpoint) {   //Default-Font-Size 16px - nimmt nicht root-font-size an

  @if $breakpoint == media-sm {
      @media (min-width: 36em) {@content}; //576
  }

  @if $breakpoint == media-md {
    @media (min-width: 48em) {@content};  //768
  }

  @if $breakpoint == media-lg {
    @media (min-width: 62em) {@content};  //992
  }

  @if $breakpoint == media-xl {
    @media (min-width: 75em) {@content};  //1200
  }

  @if $breakpoint == media-xxl {
    @media (min-width: 120em) {@content}; //1920
  }
}

$breakpoint-small-device: 576px;
$breakpoint-medium-device: 768px;
$breakpoint-large-device: 992px;
$breakpoint-extralarge-device: 1200px;
$breakpoint-verylarge-device: 1920px;


@mixin for-size($size)  {
  @if $size == media-sm  {
    @media (min-width: $breakpoint-small-device)  { @content; }
  }

  @else if $size == media-md  {
    @media (min-width: $breakpoint-medium-device) { @content; }
  }

  @else if $size == media-lg  {
    @media (min-width: $breakpoint-large-device) { @content; }
  }

  @else if $size == media-xl  {
    @media (min-width: $breakpoint-extralarge-device) { @content; }
  }

  @else if $size == media-xxl  {
    @media (min-width: $breakpoint-verylarge-device) { @content; }
  }

}


