//Fonts
$font-family-body: 'Roboto', sans-serif;
$font-style-body: normal;
$font-weight-body: 400;

//body m
$font-size-body-text-m: 1.4rem;

//body d
$font-size-body-text: 1.8rem;

//h1 m
$font-size-h1-m: 6.4rem;
$font-weight-headings: 900;
$font-line-height-h1: 110%;
$font-margin-h1: 3rem 0 2rem;

$font-size-h1: 9.6rem;

//h2 m
$font-size-h2-m: 3.6rem;
$font-weight-headings: 900;
$font-margin-h2: 0 0 2rem 0;

$font-size-h2: 4.8rem;


//h3 m
$font-size-h3-m: 3.2rem;
$font-weight-headings: 900;
$font-margin-h3-m: 0 0 1.2rem 0;

$font-size-h3: 4.2rem;

//h4 m
$font-size-h4-m: 2.4rem;
$font-margin-h4: 0 0 1.2rem 0;

//Subhead m
$font-size-sh: 1.8rem;
$font-weight-body: 400;

//Paddings
$padding-mobile: 0 2.5rem;
$padding-small-device: 0 5rem;
$padding-large-device: 0 7.5rem;
$padding-desktop : 0 10rem;
$padding-extralarge-device: 0 12.5rem;

//Link-Styles: link, hover, visited, active a
$color__link: var(--color-white);
$color__link--visited: var(--color-white) ;
$color__link--hover: var(--color-kraftpapier);
$color__link--active: var(--color-anthrazit);

//Line Height
$line-height-headings: 110%;
$line-height-body: 130%;
$line-height-body-text: 2.4rem;

//Icons
$icon-shop-width: 4.5rem;
$icon-shop-height: 4.5rem;


//Farbvariablen

/* --color-white: #fff;
  --color-light-grey: #E9E9E9;
  --color-medium-grey: #737373;
  --color-anthrazit: #1a1a1a;
  --color-kraftpapier: #D7BE9D;
  --color-petrol: #006D7E;
  --color-rosa: #EDD1C9;
  --color-orange: #D77C12;
  --color-black: #000;
  */

  :root {
    --color-white: #fff;
    --color-light-grey: #E9E9E9;
    --color-medium-grey: #737373;
    --color-anthrazit: #1a1a1a;
    --color-kraftpapier: #D7BE9D;
    --color-petrol: #006D7E;
    --color-rosa: #EDD1C9;
    --color-orange: #D77C12;
    --color-black: #000;
  }
  
  .logo {
    fill: var(--color-white);
  }

  //grid
  $grid-width: 114rem; 
  $gutter-vertical: 1.5rem;
  $gutter-horizontal: 1.5rem;





